@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  div.hero {
    min-height: 324px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    position: relative;
  }
  div.hero::before {
    content: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 1024 141' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cpath d='M86.443,28.519L0,0L0,8.559C46.461,27.105 160.555,72.814 265.709,116.238C319.837,138.591 381.655,129.348 439.607,118.706C574.311,93.972 912.792,28.52 1024,6.977L1024,0C1024,0 589.031,68.45 434.93,91.394C379.903,99.587 321.206,106.703 269.809,89.493C205.193,67.857 137.741,45.484 86.443,28.519Z' style='fill:rgb(225,151,10);'/%3E%3Cpath d='M0,0C0,0 140.577,46.221 269.809,89.493C321.206,106.703 379.903,99.587 434.93,91.394C589.031,68.45 1024,0 1024,0L0,0Z' style='fill:rgb(26,36,51);'/%3E%3C/svg%3E");
    position: absolute;
    bottom: -49px;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1 !important;
  }
  section {
    position: relative;
    z-index: 5;
    /* background: rgba(255, 255, 255, 0.75); */
  }

  p {
    color: #1a2433;
    text-align: left;
  }

  h2.hero {
    font-size: clamp(20px, 5vw, 40px);
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
  }

  h2.words {
    font-size: clamp(20px, 10vw, 80px);
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    color: #1a2433;
  }

  h2.dark {
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
    color: #1a2433;
  }

  .slide-fade-enter-active {
    transition: all 0.3s ease;
  }
  .slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  .slide-fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(0px) scale(0.9);
    opacity: 0;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');
